%p= Random.new_seed
%p= @basket.id

= link_to "regular get link", root_path
- @products.each do |product|
  %ul
    %li
      = link_to product.name + " - " + product.desc, basket_path(@basket.id, product.id), :method => :put
